* {
	font-family: "Roboto", helvetica, sans-serif;
}

body {
	background-color: #298eea;
}

header {
	width: 100%;
}

#logo {
	display: block;
	height: 35px;
	margin: auto;
	padding-top: 52px;
}

main {
	width: 100%;
}

form {
	display: block;
	position: relative;
	background-color: white;
	border-radius: 3px;
	margin: auto;
	width: 320px;
	height: 471px;
	padding: 0px 40px 0px 40px;
	top: 30px;
	
}

#form-title {
	display: block;
	font-size: 35px;
	color: #565656;
	margin-top: 0px;
	text-align: center;
}